<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <meta name="description" content="文宏開發者討論社群" />
        <meta name="author" content="李紹宏(文宏)" />
        <title>文宏開發者討論社群</title>
        <style>
            .hide_btn{
                display: none !important;
            }
            @keyframes hidePreloader {
                0% {
                    width: 100%;
                    height: 100%;
                }
                100% {
                    width: 0;
                    height: 0;
                }
            }
            body > div.preloader {
                position: fixed;
                background: #fff;
                width: 100%;
                height: 100%;
                z-index: 1071;
                opacity: 0;
                transition: opacity 0.5s ease;
                overflow: hidden;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            body:not(.loaded) > div.preloader {
                opacity: 1;
            }
            body:not(.loaded) {
                overflow: hidden;
            }
            body.loaded > div.preloader {
                animation: hidePreloader 0.5s linear 0.5s forwards;
            }
            .foot_margin{
                margin-left: auto;
            }
            @media (max-width: 991px) {
                .hide_btn{
                    display: inline-block !important;
                }
            }
            @media (max-width: 576px) {
                .foot_margin {
                    margin-left: 10px
                }
                .lead {
                    font-size: 1rem !important;
                    font-weight: 300;
                }

            }

            @media (max-width: 500px) {
                .fontsize {
                    font-size: 15px;
                }
                .lead {
                    font-size: 1rem !important;
                    font-weight: 300;
                }
            }

            @media (max-width: 480px) {
                .foot_margin {
                    display: none;
                }
            }
        </style>
        <script>
            window.addEventListener("load", function () {
                setTimeout(function () {
                    document.querySelector("body").classList.add("loaded");
                }, 300);
            });
        </script>
        <link rel="icon" href="/static/picture/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/quick-website.css" id="stylesheet" />
    </head>
    <body>
        <div class="preloader">
            <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="Image placeholder" src="/static/picture/dark.svg" id="navbar-logo" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a style="color: #838fa1;font-weight: 500" class="nav-link" href="/">首頁</a>
                        </li>
                        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                            <a style="color: #838fa1;font-weight: 500" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的筆記</a>
                            <div style="padding: 0.25rem 1.75rem;" class="dropdown-menu dropdown-menu-single" >
                                <span id = "load_data"></span>
                            </div>
                        </li>
                        <li class="hide_btn nav-item ">
                            <a style="font-weight: 500;color: #838fa1" class="nav-link"  href="{% url 'account_logout' %}" >登出</a>
                        </li>
                        {% else %}
                        <li class="hide_btn nav-item ">
                            <a style="font-weight: 500;color: #838fa1" class="nav-link"  href="/accounts/login" >登入 / 註冊</a>
                        </li>
                        {% endif %}

                    </ul>
                    {% if user.is_authenticated %}

                        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                            <a  class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="#"><i class="fa fa-user"></i><span style="font-weight: 900">{{request.user.username}}</span> </a>
                            <div style="padding: 0.25rem 1.75rem;" class="dropdown-menu dropdown-menu-single" >
                                <a  href="{% url 'account_logout' %}" class="dropdown-item">登出</a>
                            </div>
                        </li>

                    {% else %}
                        <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="/accounts/login">登入 / 註冊</a>
                    {% endif %}

                </div>
            </div>
        </nav>
        {%block content%}
        <section class="slice py-7">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                        <figure class="w-100"><img alt="Image placeholder" src="/static/picture/illustration-3.svg" class="img-fluid mw-md-120" /></figure>
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                        <h1 class="display-4 text-center text-md-left mb-3">文宏程式學院 <strong class="text-primary">學習筆記</strong></h1>
                        <p style="font-weight: 350;color: #a6b0bb !important;" class="lead text-center text-md-left text-muted">文宏筆記網站是一個開發者討論社群，提供開發者分享原始碼與開發日誌，以及個人或小組筆記託管</p>
                        <div class="text-center text-md-left mt-5">
                            <a style="padding: 10px 15px;display: inline" href="#" class="btn btn-primary btn-icon" >
                                <span class="btn-inner--text">使用手冊</span> <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                            </a>
                            <a style="padding: 10px 15px;display: inline;border: 1.5px solid #e2e8f0;" href="/community" class="btn btn-neutral" >
                                <span class="btn-inner--text">造訪社群</span> <span class="btn-inner--icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg  pt-5 pt-lg-8" style="background-color: #f7fbf7;padding-bottom:10px ">
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                    <svg
                        width="2560px"
                        height="100px"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        preserveaspectratio="none"
                        x="0px"
                        y="0px"
                        viewbox="0 0 2560 100"
                        style="enable-background: new 0 0 2560 100;"
                        xml:space="preserve"
                        class=""
                    >
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <div class="container position-relative zindex-100">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-center">
                            <div class="mt-4 mb-6">
                                <h2 class="h1 " style="color: #3f3a64">面對時代的潮流，堅定信心</h2>
                                <h5 style="margin: 18px" class=" mt-3">一起踏上成為 IT 人之路</h5>
                                <a href="http://wenhong.online/" class="btn btn-neutral btn-icon d-none d-lg-inline-block" style="padding: 10px 15px; border: 1.5px solid #e2e8f0;" target="_blank">造訪官網</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg" id="sct-form-contact">
            <div class="container position-relative zindex-100">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-6 text-center" style="padding-top: 60px">
                        <h3>聯絡我們</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div  class="form-group"><input style="height: 50px" id="name" class="form-control form-control-lg" type="text" placeholder="使用者名稱" required="" /></div>
                        <div  class="form-group"><input style="height: 50px" id="email" class="form-control form-control-lg" type="email" placeholder="電子郵件信箱" required="" /></div>
                        <div  class="form-group"><input style="height: 50px" id="phone" class="form-control form-control-lg" type="text" placeholder="聯絡電話(非必填)" required="" /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group"><textarea id="content" style="height: 116px;" class="form-control form-control-lg" placeholder="提出你的問題 . . ." rows="3" required=""></textarea></div>
                        <div class="text-center">
                            <button style="height: 50px" onclick="send()" type="submit" class="btn btn-block  btn-primary">
                                <p>傳送</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        <footer class="position-relative" id="footer-main">
            <div class="footer pt-lg-7  " style="background-color: #EBF4F8;a">
                <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                    <svg
                        width="2560px"
                        height="100px"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        preserveaspectratio="none"
                        x="0px"
                        y="0px"
                        viewbox="0 0 2560 100"
                        style="enable-background: new 0 0 2560 100;"
                        xml:space="preserve"
                        class=""
                    >
                        <polygon points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
                <div class="container pt-4">
                    <div class="row" style="display: flex;flex-wrap: nowrap;" >
                        <div class=" col-lg-2 mb-lg-0">
                            <a href=""><img alt="Image placeholder" src="/static/picture/dark.svg" id="footer-logo" /></a>
                        </div>
                        <div  class="foot_margin col-lg-3  col-sm-4 mb-lg-0">
                            <h6 class="heading mb-3 fontsize">聯絡電話</h6>
                            <ul class="list-unstyled fontsize ">
                                <li><a>0905-570-446</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-sm-4  mb-lg-0">
                            <h6 class="heading mb-3 fontsize">電子郵件信箱</h6>
                            <ul class="list-unstyled fontsize">
                                <li><a>wenhongli0510@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="divider divider-fade divider-dark my-4" />
                    <div class="row align-items-center justify-content-md-between pb-4">
                        <div class="col-md-12">
                            <div class="copyright text-sm font-weight-bold text-center">
                                網頁開發者：李紹宏
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/svg-injector.min.js"></script>
        <script src="/static/js/feather.min.js"></script>
        <script src="/static/js/quick-website.js"></script>
        <script>
            feather.replace({ width: "1em", height: "1em" });

            !(function (e, t, a, n, g) {
                (e[n] = e[n] || []), e[n].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var m = t.getElementsByTagName(a)[0],
                    r = t.createElement(a);
                (r.async = !0), (r.src = "static/js/gtm.js"), m.parentNode.insertBefore(r, m);
            })(window, document, "script", "dataLayer");

            axios({
                url:'/',
                method:'POST',
                headers:{'X-CSRFToken': "{{ csrf_token }}"}
            }).then(res=>{
                themes = res.data.data
                if(themes.length !== 0){
                    $('#load_data').append($(`
                        <a  href="/note/page/" class="dropdown-item">創建你的筆記</a>
                    `))
                    themes.forEach((item)=>{
                        $('#load_data').append($(`
                            <a  href="/note/page?theme=${item.title}" class="dropdown-item">${item.title}</a>
                        `))
                    })
                }else{
                    $('#load_data').append($(`
                        <a  href="/note/page/" class="dropdown-item">創建你的筆記</a>
                    `))
                }
            })

            function send(){
                if($('#name').val()&&$('#email').val()&&$('#content').val()){
                    axios.post('/',{
                        'name':$('#name').val(),
                        'email':$('#email').val(),
                        'phone':$('#phone').val(),
                        'content':$('#content').val()
                    }).then(()=>{
                        swal({
                            'title':'傳送成功',
                            'text':'謝謝您的支持，我們會盡快回覆您',
                            'icon':'success',
                            'timer':1500,
                        })
                    })
                }else{
                    swal({
                        'title':'傳送失敗',
                        'text':'您填寫的資料不齊全',
                        'icon':'info',
                        'timer':1500,
                    })
                }
            }
        </script>
    </body>
</html>
